<h1>Upcoming Events</h1>

<% @events.each do |event| %>
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="images/office.jpg"> -->
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= link_to event.title, event %><i class="material-icons right">more_vert</i></span>
    <p>
      <% if can? :update, event %>
      <%= link_to 'Edit', edit_event_path(event) %> |
      <% end %>
      <% if can? :destroy, event %>
      <%= link_to 'Delete', event, method: :delete %>
      <% end %>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= link_to event.title, event %><i class="material-icons right">close</i></span>
    <ul>
      <li><%= event.get_human_readable_time %></li>
      <li>Where: <%= event.location %></li>
      <li>Other Info: <%= event.notes %></li>
    </ul>
  </div>
</div>
<% end %>

<br>
<% if can? :create, @event %>
<button class="btn waves-effect waves-light cyan lighten-3"><%= link_to 'Create a New Event', new_event_path %></button>
<% end %>
