<div class="row">
  <div class="col s12 m12">
    <div class="card cyan darken-2">
      <div class="card-content white-text">
        <span class="card-title"><%= @event.title %></span>

        <p>
          <strong>When:</strong>
          <%= @event.get_human_readable_time %>
        </p>

        <p>
          <strong>Where:</strong>
          <%= @event.location %>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @event.notes %>
        </p>

      </div>
      <div class="card-action">
        <% if can? :update, @event %>
          <%= link_to 'Edit', edit_event_path(@event) %> |
        <% end %>
        <% if can? :destroy, @event %>
          <%= link_to 'Delete', @event, method: :delete %> |
        <% end %>
      </div>
    </div>
  </div>
</div>

<button class="btn waves-effect waves-light cyan lighten-3"><%= link_to 'Back to All Events', events_path %></button>
