<!DOCTYPE html>
<html>
<head>
  <title>ThirdstyThursdays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Posts", posts_path %></li>
  <!-- User Authentication -->
  <% if current_user %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li> 
  <% else %>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
